/* Navbar Styles */
.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120%;
}


.navbar-btn {
  display: flex;
  align-items: center;
}

  

 