/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #f4f6fa;
}

.container {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 100vh; */
}

/* Main Styles */

.contents {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}
